{% extends "layout.html" %}
{% block body %}
<div class=mycard>
    <div class="mycard-header">
        <h1>About the project</h1>
    </div>
    <div class="mycard-body about_mycard">
        This project is a completely new blockchain-based coin, with P2P networking, a consensus mechanism and a wallet
        interface.<br>
        The goal of the project is to provide a framework that is easy to modify for people who want to develop
        proof-of-concepts for blockchain-based technology.<br><br>
        DO NOT USE THIS AS A REAL CURRENCY TO SEND, RETRIEVE, OR STORE ACTUAL MONEY! <br>
        While we do not currently know of any way to do so, there are almost certainly bugs in this implementation that
        would allow anyone to create money out of the blue or take yours away from you.
        <br>
        <br>
        You can find the sourcecode on <a href="https://github.com/ChaAC-FAU/labchain">GitHub.</a>
        And the documentation on <a href="http://labchain.readthedocs.io/en/latest/">Readthedocs.io.</a>
        <br>
        <br>
        <a target="_blank" href="https://www.fau.de//"><img class="img-fluid" width="40%" src="{{ url_for('static', filename='Friedrich-Alexander-Universität_Erlangen-Nürnberg_logo.svg')}}"></a>
        <a target="_blank" href="https://www.chaac.tf.fau.de/"><img class="img-fluid" width="40%" src="{{ url_for('static', filename='ChaAC-logo-black.png')}}"></a>
        <br>
        <br>
        LabChain Explorer made by:<br>
        ©2018 Patrick Dolinic, Jonas Heinrich, Lukas Mahlmeister, Martin Mecklenburg<br>
        <br>
        Based on the ChaAC Coin by:<br>
        ©2017 Jonas Herzig, Malte Kraus
    </div>
</div>
{% endblock %}
